<h1  class="p-3">Add a new Restaurant: </h1>

<div class="p-3">
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name, label: 'Restaurant name', error: 'Restaurant name is mandatory, please specify one' %>
  <%= f.input :category, collection: Restaurant::CATEGORIES %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.button :submit, "Thank you!", class: "btn btn-primary d-block" %>
<% end %>
<hr>
<%= link_to "Back to Restaurants list", restaurants_path %>

</div>
